@page
@model Meyah.Pages.pagina.Tareas.DetailsModel
@{
    Layout = "../Shared/Diseño_Layout";
}

<h1 class="hide">@Model.Tarea.tareaId</h1>
<h1 class="text-center">Detalles Tarea</h1>
<body>
    <div class="col-md-3"></div>
    <form method="post">

        <div class="col-md-7"></div>
                <a class="btn btn-info" href="/pagina/Tareas/Edit?id=@Model.Tarea.tareaId"> Editar</a> |
                <input class="btn btn-danger" id="Submit1" type="submit" name="button" value="Eliminar" />
        <div class="col-md-7"></div>
        <br />

        <div class="form-row">
            <div class=" form-group col-md-12">
                <label for="nombreProducto"><strong>Descripción:</strong></label>
                <textarea class="form-control" rows="5" cols="20" placeholder="@Model.Tarea.descripcion" disabled="disabled"></textarea>

            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label><strong>Fecha de Inicio:</strong></label>
                <input type="text" class="form-control" value="@Model.Tarea.fechainicio" disabled="disabled" />
                <span class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label><strong>Fecha de Entrega:</strong></label>
                <input type="text" class="form-control" value="@Model.Tarea.fechaentrega" disabled="disabled" />
                <span class="text-danger"></span>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label><strong>Fecha de creación:</strong></label>
                <input type="text" class="form-control" value="@Model.Tarea.creado" disabled="disabled" />
                <span class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label><strong>Fecha de Modificación:</strong></label>
                <input type="text" class="form-control" value="@Model.Tarea.modificado" disabled="disabled" />
                <span class="text-danger"></span>
            </div>
        </div>
        <div class="form-row">
            <div class=" form-group col-md-6">
                <label for="nombreProducto"><strong>Pedido ID</strong></label>
                <input type="text" class="form-control" id="exampleFormControlInput1" value="@Model.Tarea.pedidoId" disabled="disabled">
            </div>
            <div class="form-group col-md-6">
                <label><strong>Empleado ID:</strong></label>
                <input type="text" class="form-control" value="@Model.Tarea.empleadoId" disabled="disabled" />
                <span class="text-danger"></span>
            </div>
        </div>
        <!--
      <div class="col py-3 px-lg-5 border bg-light"> <button type="submit" class="btn btn-round btn-warning col-lg-3">Eliminar</button></div>
    <div class="col py-3 px-lg-5 border bg-light"><button type="submit" class="btn btn-round btn-danger col-lg-3">Cancelar</button></div>-->

        <div class="col-md-3"></div>
    </form>
   
</body>